.flight-bar {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 100%;
  margin: 0 auto;
 
}

.top-options {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  align-items: center;
  font-size: 14px;
}

.top-options select {
  padding: 6px;
  border-radius: 6px;
}

.search-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr auto;
  gap: 10px;
  align-items: center;
}

.search-row input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.swap-btn {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #f8f9fa;
  cursor: pointer;
}

.search-btn {
  padding: 12px 20px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
}

.search-btn:hover {
  background: #1558b0;
}


@media only screen and (max-width: 1000px)
{
   .search-row input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
   margin-bottom: 10px;
}

.search-row {
  display: block;

  
  gap: 10px;

}

.flight-bar {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 100%;
  margin: 0 auto;
 
}

.search-btn {
  padding: 12px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 9px;
  cursor: pointer;
  width: 100%;

}

.search-row input
{
  width: 90%;
}

}